<nav>
<ul>

<li><a [routerLink]="['/home']" routerLinkActive="active" >home</a></li>
<li><a [routerLink]="['/calculator']" routerLinkActive="active" >calculadora</a></li>
<li><a [routerLink]="['/readMeGen']" routerLinkActive="active" >readMeGen</a></li>
<li><a [routerLink]="['/experiments']" routerLinkActive="active" >experiments</a></li>
<li><a [routerLink]="['/evAndRef']" routerLinkActive="active" >events</a></li>
<li><a [routerLink]="['/fichaAnimal']" routerLinkActive="active" >ficha animal</a></li>

</ul>

</nav>
